<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>by.iba.student.web.servlet.StudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>by.iba.student.web.servlet.AddStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/students/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfessorsServlet</servlet-name>
        <servlet-class>by.iba.student.web.servlet.ProfessorsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfessorsServlet</servlet-name>
        <url-pattern>/professors</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProfessorServlet</servlet-name>
        <servlet-class>by.iba.student.web.servlet.AddProfessorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddProfessorServlet</servlet-name>
        <url-pattern>/professors/add</url-pattern>
    </servlet-mapping>
</web-app>
